{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2 centerd>Fußgängerzählung User Interface</h2>

        <legend class="border-bottom mb-4"></legend>
            <!-- <p>This website is hosted on your Gateway.</p> -->

        <h5 centerd>Before you start:</h5>

        <p>
            Please make sure Camera is connected.
        </p>
        <p>
            <form method="post">
                {{ form.run_people_counting(class="mybtn-active shadow", value="Start People Counting") }}
                {{ form.get_current_frame(class="mybtn shadow", value="Get current frame") }}
                {{ form.save_to_csv(class="mybtn shadow", value="Save to CSV") }}
            </form>
        </p>
        <img src="static/testimg.png" alt="Image not found" />

    </div>
{% endblock content %}

